.faq{
  min-height: 1458px;
  &__title{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
  }
  &__wrapper{
    color: rgba(255, 255, 255, 0.8);
    max-width: 480px;
    margin-top: 8px;
    & > *{
      margin-top: 8px;
      display: block;
    }
    .blue{
      position: relative;
      margin-left: 15px;
      &:after{
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #0b96d9;
        border-radius: 100%;
        top: 5px;
        left: -14px;
      }
    }
    .red{
      position: relative;
      margin-left: 15px;
      &:after{
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #df0e3a;
        border-radius: 100%;
        top: 6px;
        left: -14px;
      }
    }
  }
  &__heading{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-top: 32px;
  }
  &__descr{
    max-width: 800px;
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    &:nth-of-type(even){
      max-width: 670px;
    }
    span{
      margin-left: .7%;
    }
  }
  .email{
    color: #1286fc;
    font-weight: 600;
  }
}