@media (max-width: 992px) {
  .about{
    &__wrapper{
      padding: 32px 28px 25px 45px;
      &_items{
        grid-template-columns: 50% 50%;
        height: 763px;
        margin-top: 29px;
      }
    }
  }
}
@media (max-width: 768px) {
  .about{
    &__wrapper{
      &_items{
        height: 649px;
        grid-gap: 0% 3% ;
      }
    }
    &__heading{
      font-size: 16px;
    }
    &__descr{
      font-size: 12px;
    }
  }
}
@media (max-width: 425px) {
  .about{
    &__title{
      margin-left: 16px;
    }
    &__card{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__wrapper{
      border-radius: 20px;
      padding-top: 15px;
      padding-left: 0;
      padding-right: 0;
      &_items{
        height: 1369px;
        grid-template-columns: 100%;
        grid-row-gap: 15px;
      }
    }
    &__descr{
      text-align: left;
    }
    &__heading{
      width: 92%;

    }
  }
}

