@media (max-width: 1100px){
  .footer{
    .container{
      grid-template-columns: 14% 63% 17%;
      grid-column-gap: 4%
    }
    &__link-item{
      font-size: 13px;
    }
    &__text-item{
        font-size: 15px;
      }
    }
}
@media (max-width: 992px) {
  .footer{
    padding-top: 86px;
    .container{
      grid-template-columns: 100% 0 0;
      grid-column-gap: 0;
    }
    &__text{
      &-wrapper{
        justify-content: center;
        gap: 4%;
      }

      &-item{
        font-size: 15px;
      }
    }
    &__link{
      &-wrapper{
        margin-top: 26px;

      }
      &-item{
        font-size: 13px;
      }
    }
    &__social{
      &-wrapper{
        bottom: 8px;
        width: 18%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
      }
    }
    &__logo{
      position: absolute;
      margin-left: 0;
      top: 20px;
      left: 50%;
      transform: translate(-50%);
    }
  }
}
@media (max-width: 617px){
  .footer{
    .container{
      grid-template-columns: 0;
    }
    &__text{
      &-item{
        font-size: 14px;
      }
      &-wrapper{
        display: grid;
        grid-template-columns: 100%;
      }
    }
    &__link{
      &-wrapper{
        gap: 11px;
        width: 129px;
        height: 108px;
        position: static;
        flex-direction: column;
        transform: none;
      }
    }
    &__social {
      &-wrapper{
        height: 200px;
        top: 50px;
        flex-direction: column;
        right: -57px;
        left: auto;
        bottom: auto;
        justify-content: space-between;
      }
      &-item{
        width: 45px;
      }
    }
    &__logo{
      left: 53px;
      transform: none ;
    }
  }
}
@media (max-width: 425px) {
  .footer{
    height: 360px;
    &__logo{
      left: 11px;
    }
    &__link {
      &-wrapper {
      gap: 24px;
      }
    }
    &__social {
      &-item{
        width: 32px;
      }
      &-wrapper {
        width: 156px;
        bottom: 34px;
        top: auto;
        left: 14px;
        right: auto;
        flex-direction: row;
        height: auto;
        transform: none;
      }
    }
    &__text{
      &_wrapper{
        .mobile{
          &:nth-child(1){
            margin-bottom: 32px;
          }
        }
      }
    }
  }
}

