.footer{
  margin-top: 98px;
  width: 1440px;
  height: 182px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 45px;
  .container{
    display: grid;
    grid-template-columns:140px 563px 144px;
    grid-column-gap: 103px;
  }
  &__text-wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__social-wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__text-item{
    color: #fff;
  }
  &__link-wrapper{
    display: flex;
    margin-top: 50px;
    margin-left: 349px;
    justify-content: space-between;
    width: 365px;

  }
  &__link-item{
    color: #fff;
    opacity: 0.6;
    font-size: 14px;

  }
}