.footer{
  margin-top: 98px;
  max-width: 1440px;
  position: relative;
  height: 182px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 45px;
  .container{
    display: grid;
    grid-template-columns:12% 56% 14%;
    grid-column-gap: 103px;
  }
  &__text-wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__social-wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__text-item{
    color: #fff;
  }
  &__link-wrapper{
    position: absolute;
    gap: 30px;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  &__link-item{


    color: #fff;
    opacity: 0.6;
    font-size: 14px;

  }
}